.form {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 0;
}

.form__fieldset {
  padding: 0;
  border-width: 0px;
  margin: 0;
}

.form__input {
  border-radius: 4px #838383;
  height: 60px;
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  display: flex;
  margin-bottom: 32px;
  margin-top: 8px;
  width: 361px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.form__button {
  border-width: 0px;
  transition: 0.3s;
  padding: 0;
  margin-bottom: 32px;
  width: 385px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
}

.form__button:hover {
  opacity: 70%;
}

.form_content_align {
  display: flex;
  justify-content: center;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  width: 12px;
  height: 12px;
  margin-right: 12px;
  margin-bottom: 120px;
}
