.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  min-height: 720px;
  max-height: 800px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__title {
  font-size: 60px;
  line-height: 72px;
  margin-left: 80px;
  margin-top: 80px;
  margin-bottom: 28px;
  max-width: 729px;
  font-weight: normal;
  font-style: normal;
  font-family: "Inter", Arial, sans-serif;
}

.header__span-accent {
  color: #2f80ed;
  display: block;
  font-family: "Noto Serif", serif, "Times New Roman";
  font-style: italic;
}

.header__description {
  max-width: 638px;
  margin-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", serif, "Times New Roman";
  font-weight: normal;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  color: #838383;
  width: 100%;
}

.header__timings {
  margin-left: 80px;
}

.header__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 80px;
}
